*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    
    align-items: center;
    padding: 20px;
    position: sticky;
    top: 0px;
    z-index: 1;
    background: radial-gradient(#fff,#ffd6d6);
}
nav {
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}
nav ul li a:hover{
    color: #ff523b;
}
a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.container{
    max-width: 1300px;
    padding-left: 25px;
    padding-right: 25px;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 100px;
    
}

.col-2 img{
    max-width: 100%;
    
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display :inline-block;
    background: #ff523b;
    color: #fff;
    padding: 10px 25px;
    margin: 30px 0;
    border-radius: 20px;
    
}
.btn:hover{
    background: #563434;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.header .row{
    margin-top: 0px;
}
.catagories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
    
}

.col-3 img{
    width: 100%;
    
}
.col-3 .imgandtxt img{
    display:flex;
    align-items:center;
    flex-direction: column;
    transition: .5s;
    opacity:0.4;
}
.col-3 .imgandtxt:hover{
    transform: perspective(500px) translateZ(10px);
    
}
.col-3 .imgandtxt:hover img{
    opacity:1;

}
.imgandtxt .centretext{
    position:relative;
    text-align:center;
    margin-top: 10px;
    width:250px;
    height:30px;
    font-size: 20px;
    color: #8a8a8a;
    
    
}
.small-container{
    max-width: 1000px;
    margin: auto;
    padding-left: 30px;
    padding-right: 30px;
}
.col-4{
    flex-basis: 25%;
    padding:10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5sec;
}
.col-4 img{
    width: 100%;
}
.title{
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.col-4 img:hover{
    transform: translateY(-4px);
}
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
small{
    color: #555;
}
.testimonial{
    padding: 100px;
}
.testimonial .col-3{
    text-align:center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 25px;
}
.testimonial .col-3:hover{
transform: translateY(-10px);
}
/* footer */
.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
color: #fff;
margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3,.footer-col-4{
    flex-basis: 12%;
    text-align:center;
}
ul{
     list-style-type:none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border:none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.Copyright{
    text-align:center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}


/* men wear page */
.hero{
    min-width: auto;
    min-height: fit-content;
    background: radial-gradient(#fff,#ffd6d6);
}
.herocontainer{

    display:flex;
    justify-content: space-evenly;
    
    flex-wrap: wrap;
    flex-basis: 50%;
    overflow: hidden;
    min-height: fit-content;

}
.herocontainer img{
    max-width: 100%;
    position: relative;
}
.mentext{
    display: flex;
    font-size: 20px;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
.herocontainer .mentext h1{
    margin-bottom: 20px;
}
.herocontainer .btn{
    margin: 30px 50px;
    ;
}
.menwear-cata{
    margin: 30px;

}
.menwear-cata .row{
    margin-left: 50px;
    margin-right: 50px;
   
}
.menwear-cata .row .col-4{
    position: relative;
    text-align:center;
    overflow: hidden;
    margin-bottom: 10px;
    
   
 
 }
 .menwear-cata .col-4 .col4txt{
    min-width:100%;
    max-width: fit-content;
    position: absolute;
    top:50%;
    font-size: 25px;
    right:1%;
    background:rgba(255, 255, 255, 0.39);
    overflow: hidden;
  
}


/* womenwear */

.women{
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
    flex-basis: 50%;
}
.womenherocontainer{
    display:flex;
    width:500px;
   
    height:500px;
    background:url(images/womenwear-landing.jpg);
    background-size:cover;
    background-position: center;
    position: relative;
    margin:0 20px 0 20px;
}





/* media query for menu */
@media only screen and (max-width:800px){
    nav ul{
        position:absolute;
        top: 70px;
        left:0;
        background: #333;
        width: 100%;
        overflow:hidden; 
        transition : max-height 0.5s;
    }
    nav  ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav  ul li a{
        color: #fff;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
}

/* all products page */
.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align:center ;
    line-height: 40px;
    cursor: pointer;

}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}

/* single product details */
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
    
}
.single-product p{
    margin-top: 10px;
}

.single-product select{
display: block;
padding: 10px;
margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left:10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}

.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}



/* cart items */


.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}

th{
    text-align:left;
    padding: 5px;
    color:#ffff;
    background: #ff523b;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    font-size: 12px;
    color: #ff523b;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align:right ;
}
th:last-child{
    text-align:right;
}
/* media query for less than 600px screen size */
@media only screen and (max-width:600px){
    .row{
        text-align:center ;
    }
    .col-2,.col-3,.col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align:left ;

    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 26px;
    }
    .cart-info p{
        display: none;
    }
}